:root {
  --white: #fff;
  --midnightgrey: #1F2937;
  --midnight: #273549;
  --lightgreen: #4ADF86;
  --lightergreen: #10B981;
  --brightgreen: #55F991;
  --grey: #2F3E53;
  --greybox: #273549;
  --lightgrey: #D9D9D9;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.heading-font {
  font-family: 'Karla', sans-serif;
}

button {
  border: 0;
  border-radius: 0.5em;
}

.d-flex {
  display: flex;
}

.container {
  background-color: var(--midnightgrey);
  padding: 5em 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  gap: 2em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1 {
  flex-direction: column;
  color: var(--white);
  font-weight: 800;
  line-height: 1em;
}

.lightgreen {
  color: var(--lightgreen);
}

.green-btn {
  background-color: var(--lightergreen);
  color: var(--white);
}

.generate-pw-btn {
  margin-top: 1em;
  padding: 0.5em 1em;
  width: fit-content;
  font-size: 0.9em;
}

.generate-pw-btn:hover {
  background-color: var(--brightgreen);
  color: #064E3B;
}

.grey-clr {
  color: var(--lightgrey);
}

.white-clr {
  color: var(--white);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.pwd-length-container {
  gap: 2em;
  align-items: center;
}

.pwd-length-input-container {
  position: relative;
}

.arrows {
  position: absolute;
  top: 12%;
  color: var(--white);
}

.left-arrow {
  left: 12%;
}

.right-arrow {
  right: 12%;
}

.left-arrow:hover,
.right-arrow:hover {
  color: var(--brightgreen);
  cursor: pointer;
}

#pwd-length {
  width: 7em;
  padding: 0.5em 2em;
  text-align: center;
  background-color: transparent;
  color: var(--brightgreen);
  font-weight: bold;
  border: 1px solid var(--white);
  border-radius: 1em;
}

#pwd-length:focus-visible {
  outline: none;
  border: 1px solid var(--brightgreen);
}

hr {
  color: var(--grey);
}

.pw-box {
  background-color: var(--greybox);
  width: 12em;
  height: 2em;
  border-radius: 0.3em;
  justify-content: center;
  align-items: center;
  color: var(--brightgreen);
}

.pw-container {
  display: flex;
  gap: 1.5em;
}

.copy-success {
  padding-top: 1em;
  text-align: center;
  color: #FCD34D;
}